<!DOCTYPE html>
<html>
<head>
	<title>IPFS + Ethereum Dapp Example | Home</title>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

	<script type="text/javascript">
		function setvalue(data_val) {
            //console.log('Clicked!!')
            try {
                // contract Abi defines all the variables,constants and functions of the smart contract. replace with your own abi
                var abi = [
                    {
                        "constant": false,
                        "inputs": [
                            {
                                "name": "x",
                                "type": "uint256"
                            }
                        ],
                        "name": "set",
                        "outputs": [],
                        "payable": false,
                        "stateMutability": "nonpayable",
                        "type": "function"
                    },
                    {
                        "constant": true,
                        "inputs": [],
                        "name": "get",
                        "outputs": [
                            {
                                "name": "",
                                "type": "uint256"
                            }
                        ],
                        "payable": false,
                        "stateMutability": "view",
                        "type": "function"
                    }
                ]

                //contract address. please change the address to your own
                //var contractaddress = '0x453f2dd2d48642964dab5a41d505a98a49cf75b4';
                var contractaddress = '0xa15ec16b312b3494bbb788292ea98641f502060c';

                //instantiate and connect to contract address via Abi
                var myAbi = new web3.eth.contract(abi);
                var myfunction = myAbi.at(contractaddress);
                //call the set function of our SimpleStorage contract
                myfunction.set.sendTransaction(data_val, { from: web3.eth.accounts[0], gas: 4000000 }, function (error, result) {
                    if (!error) {
                        console.log(result);
                        document.getElementById('tx_id').innerHTML = '<a target="_blank" href="https://rinkeby.etherscan.io/tx/'+result+'">'+result+'</a>';
                    } else {
                        console.log(error);
                    }
                })

                /*web3.eth.getAccounts(function(error, result) {
                    web3.eth.sendTransaction(
                        {from:web3.eth.accounts[0],
                        to:"0x88e7cf8a5a0e2ca914e90bc45f6dd8963b6bd67b",
                        value:  "1000000000000000000", 
                        data: ipfs_hash
                            }, function(err, transactionHash) {
                      if (!err)
                        console.log(transactionHash + " success"); 
                    });
                });*/
            } catch (err) {
                console.log(err)
            }
        }

		function readURL(input) {

		  /* Changes src of image or video on change of data */

		  if (input.files && input.files[0]) {
		    var reader = new FileReader();

		    reader.onload = function(e) {
		        document.getElementById("prev").src=e.target.result;

		        localStorage.setItem('medy_eth_demo_1', e.target.result);
		    }

		    reader.readAsDataURL(input.files[0]);
		  }
		}

		function send_to_eth(){

			$(document).ready(function(){
				$.post('/sendIPFS', {'img_data': localStorage.getItem('medy_eth_demo_1')}, function(data){
					console.log(data)

					//setvalue(data.ipfs_hash)
                    setvalue(12)
				})
			})
			
		}

	</script>
</head>
<body>

	<div style="margin: auto; width: 50%; margin-top: 75px;">
		<center>
			

			<br><br><br>

			<label>Choose File</label><br><br>
			<input type="file" name="file" onchange="readURL(this)">

			<br><br><br>

			<button onclick="send_to_eth()">Send To Ethereum</button>

			<br><br>

			<p><b>Ethereum TX ID: </b><span id="tx_id">Will be updated here...</span></p>

			<img id="prev" src="" style="width: 100%;">

		</center>

	</div>

</body>
</html>